[Unit]
Description=Postfix Greylisting Service
Before=postfix.service

[Service]
Type=forking
PIDFile=/run/postgrey/postgrey.pid
ExecStart=/usr/bin/postgrey -u /var/spool/postfix/postgrey/socket \
        --pidfile=/run/postgrey/postgrey.pid \
        --group=postgrey --user=postgrey \
        --privacy --daemonize \
        --greylist-text="Greylisted for %%s seconds"
Restart=always
RestartSec=5
TimeoutSec=10

[Install]
WantedBy=multi-user.target
